
# 01. Intro

## 단축키

- ctrl + Enter : 현재 셀을 실행
- shift + Enter : 현재 셀 실행하고 아래셀로 이동 (커서만 이동)
- art + Enter : 현재 셀을 실행하고 아래에 새로운 셀 추가

In [ ]:
# 주석입니다.

## 1. 변수

변수이름 `=` 값

- 변수이름은 어떤 이름이든 상관 없음
- 영어, 숫자, `_` 를 이용하여 선언
- 키워드는 사용불가

In [1]:
a = 10

In [2]:
a

10

In [4]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1 number

In [6]:
a = 100000

In [8]:
a

100000

In [9]:
type(a)

int

In [10]:
b = 1.1

In [12]:
type(b)

float

In [13]:
c = 1 - 4j

In [14]:
c

(1-4j)

In [15]:
type(c)

complex

In [16]:
c.imag

-4.0

In [17]:
c.real

1.0

### 1.2 Boolean

`True`, `False` 로 이루어진 타입

In [18]:
a = True

In [19]:
type(a)

bool

### 1.3 None
데이터가 없음을 의미

In [20]:
a = None

In [21]:
type(a)

NoneType

### 1.4 String
- 문자열은 `'`. `"`를 이용하여 표현

In [22]:
a = 'hello'

In [23]:
type(a)

str

In [24]:
b = "world"

In [25]:
type(b)

str

In [39]:
age = input()
#input 함수는 str 형으로 값을 받음

 11

In [40]:
age

'11'

In [30]:
type(age)

str

In [37]:
print('안녕하세요? '이도현'입니다.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1872978134.py, line 1)

In [34]:
print("안녕하세요? '이도현'입니다.")

안녕하세요? '이도현'입니다.

In [36]:
print('안녕하세요? \'이도현\'입니다.')
#escape문: back slash 뒤의 문자는 문자그대로 인식

안녕하세요? '이도현'입니다.

In [54]:
a = '''
여기는 \n문자열입니다.
여러\t줄을 작성할 수 있어요.
'''

In [55]:
a

'\n여기는 \n문자열입니다.\n여러\t줄을 작성할 수 있어요.\n'

In [56]:
print(a)

여기는
문자열입니다.
여러	줄을 작성할 수 있어요.

In [57]:
print('하나', '둘', '셋')

하나 둘 셋

In [58]:
print('하나', a, '둘')

하나
여기는
문자열입니다.
여러	줄을 작성할 수 있어요.
 둘

### string interpolation
1. %-formating
2. str.format()
3. f-string - 가장 최신이며 가독성 좋음. 주로 이용

In [61]:
age = 100

In [62]:
print('홍길동은 %s살입니다.' % age)

홍길동은 100살입니다.

In [63]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 100살입니다.

In [64]:
print(f'홍길동은 {age}살입니다.')

홍길동은 100살입니다.

## 2. 연산자
### 2.1 산술연산자

In [65]:
a = 2
b = 3

In [70]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
#print

5
-1
6
0.6666666666666666

In [71]:
a + b
a - b
# 한 셀의 맨 마지막 줄의 연산만 출력
# output 출력 (return)

-1

In [73]:
print(a ** b)
# 지수

8

In [75]:
print(a // b)
# a를 b로 나눈 몫
print(a % b)
# a를 b로 나눈 나머지

#mod연산자
print(divmod(a,b))

0
2
(0, 2)

### 2.2 비교연산자

In [76]:
a = 5
b = 10

In [80]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
# a보다 b가 큰가요?, 연산결과를 True/False로 출력

False
True
False
True

In [84]:
print(a == b)
print(a != b)

False
True

In [86]:
print('hi' == 'hi')
print('Hi' == 'hi')

True
False

### 2.3 논리연산자
- `and` : 양쪽 모두 `True`일 때, `True`를 반환
- `or` : 양쪽 모두 `False`일 때, `False`를 반환
- `not` : 값을 반대로 전환

In [93]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [94]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [96]:
print(True)
print(not True)

a = True
print(not a)

True
False
False

In [99]:
# 단축평가(and)

print(3 and 5) # True and True - 뒷 데이터가 중요
print(3 and 0) # True and False - 뒷 데이터가 중요
print(0 and 5) # False and True - 앞 데이터가 결정
print(0 and 0) # False and False - 앞 데이터가 결정

5
0
0
0

In [100]:
# 단축평가(or)

print(3 or 5) # True or True - 앞 데이터가 True면 뒷 데이터 중요x
print(3 or 0) # True or False - 앞 데이터가 True면 뒷 데이터 중요x
print(0 or 5) # False or True  - 뒷 데이터가 중요해짐
print(0 or 0) # False or False - 뒷 데이터가 중요해짐

3
3
5
0

In [102]:
print(None or 'index.html')
# None == False

index.html

In [103]:
print('login.html' or 'index.html')

login.html

### 2.4 복합연산자

In [105]:
a = 2
b = 3

In [109]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [110]:
print(a)

8

In [113]:
a += b # a = a + b
a -= b # a = a - b
a *= b
a /= b
a //= b
a %= b
a **= b
print(a)

0.0

### 2.4 기타연산자

In [114]:
a = 'hi'
b = 'hello'

In [116]:
#concatenation
a + b

'hihello'

In [117]:
a = [1, 2, 3]
b = [9, 8, 7]

In [118]:
a + b

[1, 2, 3, 9, 8, 7]

In [121]:
# containment
print('a' in 'apple')
print('z' in 'apple')

True
False

In [122]:
print(1 in [1, 2, 3])
print(100 in [1, 2, 3])

True
False

In [123]:
a = 123123
b = 123123
print (a is b) # 값은 같지만 주소값(object)가 다름

False

In [128]:
a = 10
b = 10
print(a is b)
# -5~256의 숫자는 미리 할당되어있음 - 같은위치에서 가져옴

True

#### 연산자 우선순위 

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, is, in
5. not
6. and, or

In [129]:
#연산자 우선순위에 따라 연산되기때문에 원하는 연산을 위해 소괄호() 등을 통해 우선순위 설정 필요
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환

In [130]:
a = True
b = False
c = 1

In [132]:
print(a + c)
print(b + c)

2
1

In [133]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [135]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(6+3j)

### 3.2 명시적 형변환

In [136]:
a = 1
b = '번'

In [137]:
# a + b는 형태가 달라서 연산 불가

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [139]:
print(str(a) + b) #형변환을 통하여 통일시켜서 연산가능

1번

In [140]:
a = '100'

In [142]:
print(type(int(a)))

<class 'int'>

In [146]:
age = int(input())
print(type(age))

 123

<class 'int'>

In [147]:
a = '3.3'

In [150]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [151]:
type(float(a))

float

In [152]:
a = 1
b = 0
c = 100

In [154]:
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [155]:
print(bool(''))
print(bool('a'))

False
True

In [156]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스(sequence) 자료형
시퀀스는 데이터의 순서대로 나열된 자료구조

1. 리스트(list)
2. 튜플(tuple)
3. 레인지(range)
4. 문자열(string)

### 4.1 list(배열)
- 선언 : 변수이름 = [value1, value2, value3]
- 접근 : 변수이름[index] #index = 0~

In [158]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [168]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

print(location[2])
print(location[-1]) #뒤에서부터 접근
print(location[0:3])

location[2] = '제주' #list는 새로운 값을 할당가능
print(location)

['서울', '대전', '부산']
<class 'list'>
부산
부산
['서울', '대전', '부산']
['서울', '대전', '제주']

### 4.2 Tuple(튜플)
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- list와 유사하지만 수정불가능(immutable)하다.

In [171]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [179]:
t[2] = 100 # 데이터 수정 불가능

TypeError: 'tuple' object does not support item assignment

In [180]:
result = divmod(9, 4)
print(type(result))
print(result[0])

<class 'tuple'>
2

In [181]:
x, y = (1, 2) # 같은 line에서 여러 변수의 값을 할당할때
print(x, y)

x, y = y, x # 변수를 swap할때
print(x, y)

1 2
2 1

### 4.3 range
- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 범위, +s만큼 증가하는 범위

In [184]:
r = range(5)
print(r) # 0이상 5미만
print(type(r))

range(0, 5)
<class 'range'>

In [185]:
r = range(5, 15)
print(r)

range(5, 15)

In [186]:
r = range(5, 15, 2)
print(r)

range(5, 15, 2)

In [189]:
list(r)

[5, 7, 9, 11, 13]

### 4.4 string
기본 데이터 구조 참고

### 4.5 시퀀스에서 사용 가능한 연산/함수

In [190]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (11, 22, 33, 44, 55)
my_range = range(1, 10, 2)
my_string = '일이삼사오'

In [193]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
22
3
이

In [195]:
# slicing : 범위에서 원하는 부분만 잘라서 사용가능
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(22, 33)
range(3, 7, 2)
이삼

In [197]:
print(my_list[1:4:2])
print(my_range[2:7:2])

[2, 4]
range(5, 11, 4)

In [200]:
print(my_list[:3])
print(my_list[3:])

[1, 2, 3]
[4, 5]

In [205]:
# in
print(11 in my_list)
print(11 in my_tuple)
print(1 in my_range)
print('일' in my_string)

False
True
True
True

In [210]:
# not in
print(11 not in my_list)
print(100 not in my_tuple)
print(1 not in my_range)
print('구' not in my_string)

True
True
False
True

In [212]:
#concatenation
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(11, 22, 33, 44, 55, 1, 2, 3)

In [218]:
# * 곱셈연산 : 시퀀스 반복
print(my_string * 3)
print(my_list * 3)
print([0] * 10) # 리스트 초기화할 때
print([[0] * 10] * 10)

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [219]:
len(my_list)

5

In [220]:
min(my_tuple)

11

In [221]:
max(my_range)

9

In [225]:
my_list.count(1) #원하는 값이 몇개 들었는지

1

## 5. 시퀀스데이터가 아닌 자료구조

### 5.1 set
수학에서 사용하는 집합과 동일하게 처리(중복된 값이 없음)
- 선언 : 변수이름 = {value1, value2, value3}

In [226]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [231]:
print(my_set_a - my_set_b) # 차집합
print(my_set_a | my_set_b) # 합집합 or
print(my_set_a & my_set_b) # 교집합 and

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [235]:
my_list = [1, 2, 3, 1, 4, 1, 2, 3, 5, 6, 7, 8, 2, 2]
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7, 8}

### 5.2 dictionary
- 선언 : 변수이름 = {key1: value1, key2: value2, key3: value3}
- 접근 : 변수이름[key]
- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 값을 사용가능. (불변값 : string, integer, ...)
- value에는 모든 데이터 가능. (list, dict도 가능)

In [237]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [240]:
dict_a = {
    'name': 'dohyeon',
    'age': 10,
    'location': 'seoul', # trailing comma , 넣기
    'numbers': [1, 2, 3, 4, 5],
    'friends': {
        'a': 10,
        'b': 11,
        },
}
print(dict_a['age'])
print(dict_a['numbers'][3])
print(dict_a['friends']['b'])

10
4
11

In [242]:
dict_a.keys()

dict_keys(['name', 'age', 'location', 'numbers', 'friends'])

In [243]:
dict_a.values()

dict_values(['dohyeon', 10, 'seoul', [1, 2, 3, 4, 5], {'a': 10, 'b': 11}])

## 데이터 타입

1. Number
2. Boolean
3. String

## 자료구조

- 시퀀스 자료형
    1. [list] : mutable
    2. (Tuple) : immutable
    3. range() : immutable
    4. 'String' : immutable

- 시퀀스가 아닌 자료형
    1. {Set} : mutable
    2. {Dict: ionary} : mutable