# 제어문

## 조건문 (if문)

```python
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

1. `if` 문은 반드시 참/거짓을 판단할 수 있는 `조건식`과 함께 사용한다.
2. `조건식` 이 참인 경우 `:` 이후의 문장을 실행한다.
3. `조건식` 이 거짓인 경우 : `else:` 이후의 문장을 실행한다.

In [3]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/12

크리스마스가 아닙니다.

In [11]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2 == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

숫자를 입력해주세요 :  123

홀수입니다.

In [12]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2 == 1:
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 :  2

짝수입니다.

In [ ]:
# num을 2로 나눈 나머지는 0, 1 두가지 경우가 있다.
# if 조건식에 0, 1는 자동 형변환이 일어나 False/True로 변환된다.

num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2: # 2로 나눈 나머지 == 1 == True (1)
    print('홀수입니다.')
else:
    print('짝수입니다.')

### elif

```python
if <조건식>:
    if 조건이 참인 경우 실행
elif <조건식>:
    elif 조건이 참인 경우 실행
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [20]:
score = int(input('점수를 입력해주세요: '))

# 90점이상 A (95점이상이라면 good 추가)
# 80점이상 B
# 70점이상 C
# 나머지 F
if 0<=score<=100:
    
    if score>=90:
        print('A')
        if score>=95:
            print('good')
    elif score>=80:
        print('B')
    elif score>=70:
        print('C')
    else:
        print('F')
else:
    print('잘못된 값입니다.')

점수를 입력해주세요:  97

A
good

### 조건표현식
```python
true_value if <조건식> else false_value
```

In [3]:
print('True') if 1 < 2 else print('False')

True

In [6]:
if 1 < 0:
    print('True')
else:
    print('False')

False

In [7]:
num = 5

if num >= 0:
    value = num
else:
    value = 0

print(value)

5

In [8]:
num = 5
value = num if num >= 0 else 0
print(value)

5

In [9]:
num = 10
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [11]:
num = 5
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

홀수

## 반복문

### while문
```python
while <조건식>:
    실행할 코드
```

In [13]:
a = 0

while a < 5:
    print(a)
    a += 1
    # a = a + 1

0
1
2
3
4

In [15]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 해줘: ')

안녕이라고 해줘:  안녕

### for문
정해진 범위 내의 반복
```python
for variable in sequence:
    실행할 코드
```

In [22]:
numbers = [1, 2, 3, 4, 5]
# number라는 변수를 만들어 numbers의 각 값을 할당하여 사용
for number in numbers:
    print(numbers[number:])
# 자주쓰는 형태

[2, 3, 4, 5]
[3, 4, 5]
[4, 5]
[5]
[]

In [24]:
word = input('단어를 입력해주세요: ')

for char in word:
    print(char)
# 자주쓰는 형태

단어를 입력해주세요:  apple

a
p
p
l
e

In [25]:
for i in range(5):
    print(i)
# 자주쓰는 형태

0
1
2
3
4

In [26]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [42]:
# 1. 1~30까지 숫자 중에서 홀수를 출력
my_range= range(1,31)

for i in my_range:
    if i % 2:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [44]:
# 2. 1~30중에서 홀수를 모아서 리스트로 출력

my_list = []
my_range = range(1,31): #for i in range(31):
for i in my_range:
    if i % 2:
        my_list.append(i)
        
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [48]:
# 2. 1~30중에서 홀수를 모아서 리스트로 출력

my_range= range(31)
result = []

for i in my_range:
    if i % 2 == 1:
        #print(i)
        result.append(i)
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [52]:
menus = ['라면', '김밥', '떡볶이', '돈까스']

for menu in menus:
    print(menu)

라면
김밥
떡볶이
돈까스

In [53]:
for i in range(3):
    print(menus[i])
# range를 한정짓게 되어 리스트가 추가되면 반영하지 못함

라면
김밥
떡볶이

In [56]:
for i in range(len(menus)):
    print(menus[i])
# len 함수를 이용하여, 리스트 길이를 반영하여 반복하면 리스트가 추가되어도 반영가능

라면
김밥
떡볶이
돈까스

In [60]:
for item in enumerate(menus):
    print(item)
# 튜플형태로, (index, 내용)으로 묶어져 나옴

(0, '라면')
(1, '김밥')
(2, '떡볶이')
(3, '돈까스')

In [64]:
for index, menu in enumerate(menus):
    print(index, menu)

0 라면
1 김밥
2 떡볶이
3 돈까스

In [68]:
for (index, menu) in enumerate(menus):
    print((index, menu))

(0, '라면')
(1, '김밥')
(2, '떡볶이')
(3, '돈까스')

#### dictionary 반복

 1. for key in dict:
 2. for key in dict.keys():
 3. for value in dict.values():
 4. for key, value in dict.items():

In [70]:
info = {
    'name': 'dohyeon',
    'location': 'seoul',
    'phone': '010-1234-1234',
}

In [72]:
for key in info:
    print(key)
    print(info[key])

name
dohyeon
location
seoul
phone
010-1234-1234

In [74]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

In [76]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [77]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [100]:
a = blood_type.keys()

print(type(a))

<class 'dict_keys'>

In [101]:
result = 0
for value in blood_type.values():
    result += value
print(f'총 인원은 {result}명입니다.')

총 인원은 14명입니다.

In [105]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

### break
반복문을 종료시키는 키워드

In [107]:
for i in range(100):
    print(i)
    if i > 10: 
        print('10넘었어!!')
        break # break는 if문 안에 있지만 for문과 연결되어 가장 가까이 있는 for문을 종료시킴

0
1
2
3
4
5
6
7
8
9
10
11
10넘었어!!

In [113]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리', '보리', '보리']
# 보리 보리 보리 쌀 잡았다!
for i, menu in enumerate(rice):
    print(menu)
    if menu == '쌀':
        print('잡았다')
        break

보리
보리
보리
보리
쌀
잡았다

In [114]:
# 강사님 solution

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다')
        break

보리
보리
보리
보리
쌀
잡았다

### continue
continue 이후의 코드를 실행하지 않고 다음 반복을 실행

In [116]:
for i in range(10):
    if i % 2:
        continue    
    print(i)

0
2
4
6
8

In [117]:
age = [10, 23, 8, 30, 29, 15]

for a in age:
    if a < 20:
        continue
    print(f'{a}살은 성인입니다.')

23살은 성인입니다.
30살은 성인입니다.
29살은 성인입니다.

#### else
else문은 끝까지 반복이 진행이 된 후 실행합니다. (break를 만나지 않은 경우)

In [122]:
for i in range(12):
    print(i)
    if i > 10:
        break
else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
10
11

In [125]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)
print(99 in numbers)

True
False

In [133]:
numbers = [1, 2, 3, 4, 5]
target = 5

# numbers를 반복하다 target이 있으면 True, 없으면 False출력

for number in numbers:
    if number == target:
        print(True)
        break
else:
    print(False)

True

### pass
for/if 문을 이용할 때, 임시로 처리하기 위해 이용

In [135]:
if True:
    pass

### match
```python
match value:
    case 조건:
        실행할 코드
    case 조건:
        실행할 코드
    case _:
        실행할 코드
```

In [141]:
status = 404

match status:
    case 400:
        print('Bad request')
    case 404:
        print('Not found')
    case _:
         print('Something is wrong')

Not found