In [1]:
print('hello')

hello

In [3]:
''.join(('일', '이', '삼'))

'일이삼'

In [5]:
dir('hello')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## 문자열 메소드
- 함수(Function) : 함수는 특정 작업을 수행하는 "코드조각"이에요. 전역, 지역이던 "독립된 기능"을 수행하는 단위죠. - 메소드(Method) :  클래스, 구조체, 열거형 등 객체에 포함되어있는 "함수"를 메소드라고 부릅니다. 메소드를 다른말로 "클래스 함수"

In [19]:
a = 'hello my name is dohyeon'

In [10]:
print(a)

hello my name is dohyeon

In [14]:
print(a[1])

e

In [17]:
a[0] = 'H' 
#string 문자열은 immutable하기 때문에 수정 불가능

TypeError: 'str' object does not support item assignment

In [22]:
a = a.capitalize()
print(a)

Hello my name is dohyeon

In [23]:
a.title()

'Hello My Name Is Dohyeon'

In [24]:
a.upper()

'HELLO MY NAME IS DOHYEON'

In [26]:
my_list = ['hi', 'my', 'name']
''.join(my_list)

'himyname'

In [42]:
#.strip([chars])

my_string = '    h  e llo\n      '
print(my_string)
print(my_string.strip())
print(my_string.strip(' '))

my_string2 = 'hihihihihihihellohihihihihi'

print(my_string2.strip('hi'))
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

    h  e llo

h  e llo
h  e llo

ello
ellohihihihihi
hihihihihihihello

In [51]:
# .replace(ord, new, count) , 원본을 바꾸지는 않음
a = 'wooooooooooooooow'
print(a.replace('o','!'))
print(a.replace('o','!', 5))

w!!!!!!!!!!!!!!!w
w!!!!!oooooooooow

In [62]:
# .find(x) : 문자열 앞에서 x의 찾아 위치를 표시해줌
a = 'apple'
print(a.find('a'))
print(a.find('p'))
print(a.find('z'))

# for i in range(len(a)):
#     if 'p' == a[i]:
#         print(i)
#         break
#     else:
#         print(-1)

0
1
-1

In [65]:
# .index(x) : .find()와 차이 - .find()는 찾는 문자열 없을 시 -1, .index()는 에러 출력
a = 'apple'
print(a.index('a'))
print(a.index('z'))

0

ValueError: substring not found

In [69]:
# .split(x) : 공백을 기준으로 문자열을 쪼개고 리스트로 만들어줌
a = 'my name is'
print(a.split())
b = 'my_name_is'
print(b.split('_')) # 쪼개는 기준을 바꾸고 싶다면 ''안에 원하는 문자열 넣으면 됨

['my', 'name', 'is']
['my', 'name', 'is']

In [71]:
# .count(x) : 문자열에서 해당 문자 포함 수를 출력
'wooooooow'.count('o')

7

## 리스트 메소드

In [103]:
numbers = [1, 5, 2, 6, 2, 1]

In [95]:
numbers.append(10)
print(numbers)

[1, 5, 2, 6, 2, 1, 10]

In [96]:
# .extend(iterable) # 반복가능한 객체를 넣어야함 (배열 등)
a = [99, 100]

numbers.extend(a)
print(numbers)
# print(numbers + a)와 같음

[1, 5, 2, 6, 2, 1, 10, 99, 100]

In [199]:
# .insert(idx[, x]) : 원하는 위치에 데이터를 넣을때
numbers.insert(3, 3.5)
print(numbers)

[1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9, 10]

In [98]:
# .remove(x) : 원하는 값을 리스트에서 지울때, 없을때는 에러
numbers.remove(3.5)
print(numbers)

[1, 5, 2, 6, 2, 1, 10, 99, 100]

In [101]:
# .pop() : 가장 뒤에 있는 값을 하나 삭제 (append, pop) 스택된 데이터 가장 위의 것을 변경
numbers.pop()
print(numbers)

print(numbers.pop(0)) #원하는 인덱스값을 넣으면 원하는 위치의 값을 삭제 가능

[2, 6, 2, 1]
2

In [102]:
num = numbers.pop()
print(num)

1

In [110]:
# .sort() # 메쏘드는 원본을 바꾸고 return이 None
numbers = [1, 6, 2, 1, 3, 2, 7, 10]
print(numbers)

print(numbers.sort())
print(numbers)

numbers.sort(reverse=True)
print(numbers)

[1, 6, 2, 1, 3, 2, 7, 10]
None
[1, 1, 2, 2, 3, 6, 7, 10]
[10, 7, 6, 3, 2, 2, 1, 1]

In [113]:
# .sort()와 동작 비슷, 원본을 바꾸지 않고 return을 내놓는다.
numbers = [1, 6, 2, 1, 3, 2, 7, 10]
print(sorted(numbers))
print(numbers)

[1, 1, 2, 2, 3, 6, 7, 10]
[1, 6, 2, 1, 3, 2, 7, 10]

In [116]:
# .reverse() : 뒤집기
numbers = [1, 6, 2, 1, 3, 2, 7, 10]
print(numbers)
numbers.reverse()
print(numbers)
numbers = numbers[ : : -1]
print(numbers)

[1, 6, 2, 1, 3, 2, 7, 10]
[10, 7, 2, 3, 1, 2, 6, 1]
[1, 6, 2, 1, 3, 2, 7, 10]

## list copy

In [122]:
origin_list = [1, 2, 3] # 기존 객체를 재할당 (call by reference)
copy_list = origin_list

In [123]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [124]:
copy_list[0] = 100

In [125]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [127]:
a = [1, 2, 3]
# b = list(a) # 새로운 리스트를 만듬, 복사하고 싶다면 이렇게
b = a[:]

b[0] = 100

print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [132]:
a = [    1,     2,     [99, 100]    ]
b = a[:] # b = list(a)

b[2][1] = 1000

print(a)
print(b) # depth가 있는 리스트는 같은 주소 할당될 수 있음

[1, 2, [99, 1000]]
[1, 2, [99, 1000]]

In [134]:
import copy

a = [1, 2, [99, 100]]
b = copy.deepcopy(a) # 리스트안에 또 다른 리스트들이 있을 때 복사하여 개별적으로 이용하려면 .deepcopy 이용

b[2][1] = 1000

print(a)
print(b)

[1, 2, [99, 100]]
[1, 2, [99, 1000]]

## list comprehension

In [137]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [138]:
# [1, 8, 27, ... , 1000] => 세제곱 만들기
result = []

for number in numbers:
    result.append(number **3)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [139]:
result2 = [ number ** 3 for number in numbers ]
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [140]:
# 짝수만 고르기
even_list = []
for number in numbers:
    if number % 2 == 0:
        even_list.append(number)
print(even_list)

[2, 4, 6, 8, 10]

In [141]:
# 짝수만 고르기 (list comprehension)
even_list2 = [number for number in numbers if number % 2 == 0]
print(even_list2)

[2, 4, 6, 8, 10]

In [142]:
# 모음 빼기
words = 'my name is hong'
vowels = 'aeiou'

# => my nm s hng

In [170]:
# 1. for문
consonants = []

for char in words:
    if char not in vowels:
        consonants.append(char)
consonants =''.join(consonants)
print(consonants)

my nm s hng

In [178]:
# remove 활용
words = 'my name is hong'
vowels = 'aeiou'


for vowel in vowels:
    words = words.replace(vowel, '')
print(words)

my nm s hng

In [188]:
# 2. list comprehension
result2 = [char for char in words if char not in vowels]
result2 = ''.join(result2)
print(result2)

# result2 = ''.join([char for char in words if char not in vowels])
# print(result2)

my nm s hng

## 딕셔너리 메소드

In [214]:
info = {
    'name': 'dohyeon',
    'location': 'seoul',
}

In [215]:
info['name'] = 'kim'
print(info)

{'name': 'kim', 'location': 'seoul'}

In [217]:
# .pop(key[, default]) # pop은 지운 것을 알려줌, 
print(info)
print(info.pop('location'))

print(info)
print(info.pop('location', None)) # 해당 값이 없을 때, 원하는 값을 내보낼 수 있음. 보통 None을 써서 분기처리할 수 있음

{'name': 'kim'}

KeyError: 'location'

In [218]:
# .update(key=value) 수정
info.update(name='park')
print(info)

{'name': 'park'}

In [221]:
# .get(key[, default]) : 해당 키에 해당하는 밸류 가져옴
print(info.get('name'))
print(info.get('phone'))
print(info.get('phone', '해당키가 없습니다.')) #키에 해당하는 값이 없을경우 뒤에 내용을 return
info['phone']

park
None
해당키가 없습니다.

KeyError: 'phone'

## dict comprehension

In [224]:
# for
# {1: 1, 2: 8, 3: 9} 
result = {}
numbers = range(1, 11)

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [226]:
# comprehension

result2 = {number: number ** 3 for number in numbers}
print(result2)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [256]:
# dust 딕셔너리에서 값이 50이상인 것만 남기기
dust = {
    '서울': 100,
    '대구': 30,
    '부산': 50,
    '광주': 80,
    '제주': 20,
}

# result = {
#     '서울': 100,
#     '부산': 50,
#     '광주': 80,
# }

result = {}
for k in dust.keys():
    if dust[k] >= 50:
        result[k] = dust[k]
print(result)

# 강사님 코드
# result = {}
# for k, v in dust.items():
#     if v >= 50:
#         result[k] = v
# print(result)

{'서울': 100, '부산': 50, '광주': 80}

In [253]:
# 2. comp
result2 = { k: '나쁨' for k, v in dust.items() if v >=50 }
print(result2)

{'서울': '나쁨', '부산': '나쁨', '광주': '나쁨'}

## 세트 메소드

In [248]:
fruits = {'apple', 'banana', 'melon'}

In [251]:
# .add(x)
fruits.add('watermelon')
print(fruits)
fruits.add('watermelon')
print(fruits)

{'banana', 'watermelon', 'apple', 'melon'}
{'banana', 'watermelon', 'apple', 'melon'}

In [258]:
# .update() : add와 비슷하지만 입력한 시퀀스 데이터를 하나하나 나누어서 추가함(순서x)
# fruits.update('grape')
# print(fruits)
fruits.update({'grape', 'orange'}) # 확장의 개념, 여러개를 더해줄 때 사용
print(fruits)

{'grape', 'orange', 'r', 'p', 'melon', 'e', 'g', 'watermelon', 'apple', 'banana', 'a'}

In [259]:
# .remove(x)
fruits.remove('orange')
print(fruits)

{'grape', 'r', 'p', 'melon', 'e', 'g', 'watermelon', 'apple', 'banana', 'a'}

In [262]:
# .pop() 내부적으로 설정된 순서대로 빠짐 (거의 랜덤)
fruits.pop()
print(fruits)

{'melon', 'e', 'g', 'watermelon', 'apple', 'banana', 'a'}

### map, filter, zip

- map(function, iterable)

In [264]:
a = [1, 2, 3]
number_str = map(str, a) # map(func, sequence object) : sequence 반복하며 function처리됨
print(number_str) # lazy하다. func 연산 자체를 object에 저장, 리스트 등에 할당해야지 값이 나옴
print(list(number_str))

<map object at 0x00000278AB4982E0>
['1', '2', '3']

In [270]:
result = []
for i in a:
    result.append(i ** 3)
print(result)

[1, 8, 27]

In [268]:
def cube(x): 
    return x ** 3
    
# def cube(x): return x ** 3

print(cube(5))
print(cube(10))

125
1000

In [272]:
result2 = map(cube, a)
print(list(result2))

[1, 8, 27]

In [279]:
a = '1 3 5 7 9'
# numbers = [1, 3, 5, 7, 9]
numbers = list(map(int, a.split()))
print(numbers)

[1, 3, 5, 7, 9]

- filter(function, iterable)
filter에 들어가는 function은 T/F를 반환해야 합니다.

In [283]:
def is_odd(x):
    # if x % 2 == 1:
    #     return True
    # else:
    #     return False

#     return bool(x % 2)
print(is_odd(5))
print(is_odd(10))

True
False

In [284]:
numbers = [1, 2, 3, 4, 5]

In [285]:
# for문
result = []

for number in numbers:
    if is_odd(number):
        result.append(number)
print(result)

[1, 3, 5]

In [286]:
result2 = filter(is_odd, numbers)
print(list(result2))

[1, 3, 5]

- zip
    - 두개의 리스트를 쌍으로 사용할때 이용
    - 갯수가 맞아야함
    - 같은 인덱스의 리스트 값들을 튜플로 내어줌

In [287]:
a = [1, 2, 3]
b = [100, 200, 300]

In [288]:
result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x00000278AABAA2C0>
[(1, 100), (2, 200), (3, 300)]