# Error

## syntax error
구문 에러

In [4]:
if True:
    pass
else

SyntaxError: expected ':' (3448656250.py, line 3)

In [5]:
print('hi'

SyntaxError: incomplete input (2401491204.py, line 1)

In [6]:
if True print('hello')

SyntaxError: invalid syntax (3421040245.py, line 1)

## exception

In [7]:
print(5/0)

ZeroDivisionError: division by zero

In [9]:
print(hello)

NameError: name 'hello' is not defined

In [10]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [12]:
import random

In [15]:
random.sample([1, 2, 3, 4], )

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [19]:
random.sample([1, 2, 3, 4], 2, 2, 2, 2)

TypeError: Random.sample() takes 3 positional arguments but 6 were given

In [20]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [21]:
numbers = [1, 2, 3, 4]
numbers.index(100)

ValueError: 100 is not in list

In [33]:
my_dict = {
    'apple': '사과',
    'banana': '바나나',
}
my_dict['melon']

KeyError: 'melon'

In [23]:
import asdf

ModuleNotFoundError: No module named 'asdf'

In [24]:
while True:
    continue
# 무한루프

KeyboardInterrupt:

## 예외처리
```python
try:
    code
except 예외:
    code
```

In [29]:
try:
    num = int(input('숫자를 입력해주세요: '))
    print(f'{num}의 세제곱은 {num ** 3}입니다.')
except ValueError:
    print('숫자를 입력하세요!!!')

숫자를 입력해주세요:  123

123의 세제곱은 1860867입니다.

In [32]:
try:
    num = int(input('100을 나눌 값을 입력해주세요: '))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except ValueError:
    print('입력한 정보는 숫자가 아닙니다.')
except ZeroDivisionError:
    print('수학적으로 0으로는 나눌 수 없습니다.')

100을나눌 값을 입력해주세요:  0

수학적으로 0으로는 나눌 수 없습니다.

In [34]:
try:
    num = int(input('100을 나눌 값을 입력해주세요: '))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except:
    print('무엇인가 잘못되었습니다.')

100을 나눌 값을 입력해주세요:  123

100을 123으로 나누면 0.8130081300813008입니다.

In [37]:
try:
    # print(asdf)
    num = int(input('100을 나눌 값을 입력해주세요: '))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except (ValueError, ZeroDivisionError):
    print('무엇인가 잘못되었습니다.')
except:
    print('wrong')

100을 나눌 값을 입력해주세요:  0

무엇인가 잘못되었습니다.

In [39]:
try:
    my_list = [1, 2, 3]
    print(my_list[100])
except IndexError as err:
    print('범위에 문제가 있습니다.')
    print(err)

범위에 문제가 있습니다.
list index out of range

In [43]:
# else => 예외를 일으키지 않을 때 실행되는 코드, 실행이 잘되고 그 값을 연산해야할 때

try:
    numbers = [1, 2, 3]
    num = numbers[100]
except:
    print('오류발생')
else:
    print(num **3)

오류발생

In [60]:
# finally => 예외 상황과 무관하게 무조건 최종적으로 실행되는 코

try:
    numbers = [1, 2, 3]
    num = numbers[10]
except:
    print('오류발생')
finally:
    print('end')

오류발생
end

In [46]:
# 예외를 강제로 발생시키는 상황에서 사용
raise

RuntimeError: No active exception to reraise

In [47]:
for i in range(100):
    if i == 50:
        print(i)
        raise

50

RuntimeError: No active exception to reraise

In [59]:
# 연습
def my_div(num1, num2):
    result = 0
    try:
        result = num1 / num2
        print(f'{num1} 나누기 {num2}는 {result}입니다.')

    except ValueError as error1:
        print('ValueError 입니다.')

    except TypeError as error2:
        print('TypeError입니다.')

    except ZeroDivisionError as error3:
        print('0으로 나눌 수 없습니다.')

    else:
        return result
    finally:
        print('end')

print(my_div(5, 0))
print(my_div('5', '0'))
print(my_div(5, 2))

0으로 나눌 수 없습니다.
end
None
TypeError입니다.
end
None
5 나누기 2는 2.5입니다.
end
2.5